h2,h3{
	padding: 0;
	margin: 5px 5px 5px 0;
}
.cesta{
  background-color: #b0f8b0;
}
input{
	padding: 5px;
}

ul.thumbnails{
	list-style:none;
	padding:0px;
    margin:0px;	
}

ul.thumbnails li{
	padding-left: 0;
}

.thumbnail img{
	width: auto;
}

input[type=number] {
	width: 95%;
	max-width: 120px;
}

input[type=text] {
	width: 95%;
	max-width: 250px;
}